@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary-dark: #31261a;
    --color-primary-light: #faf4ea;
    --color-brand-dark: #465929;
    --color-brand-light: #819b57;
}

/* Base */
body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-primary-dark);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
ul {
    list-style-type: none;
}
.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}
.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.section {
    padding: 48px 0;
}
.accent {
    color: var(--color-brand-light);
}
.uppercase {
    text-transform: uppercase;
}
.section-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}
address {
    font-style: normal;
}

/* Button */
.button {
    width: 232px;
    height: 59px;
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 8px;
    line-height: 1.5;

    font-weight: 600;
    font-size: 18px;
    color: var(--color-primary-light);
    transition: all 0.3s;
    cursor: pointer;
}
.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
}

/* Link */
.link {
    color: var(--color-primary-light);
    text-decoration: none;
    transition: all 0.3s;
}
.link:hover {
    color: var(--color-brand-light);
}

/* Header */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;
}
.header-menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

/* Hero section */
.hero-section {
    padding: 272px 0;
}
.hero-title {
    text-align: center;
    color: var(--color-primary-light);
    font-size: 128px;
    font-weight: 900;
}
/* Advantages section */
.advantages-section {
    padding: 16px 0;
    background-color: var(--color-brand-light);
}
.advantages-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.advantages-item {
    color: var(--color-primary-light);
    font-size: 20px;
    font-weight: 300;
}
/* Traditions */
.traditions-section {
    padding-top: 96px;
}
.traditions-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.traditions-content {
    max-width: 710px;
}
.traditions-title {
    margin-bottom: 42px;
}
.traditions-text {
    margin-bottom: 42px;
}
.traditions-text:last-child {
    margin-bottom: 0;
}
.traditions-text span {
    font-weight: 600;
}
.traditions-text.limited {
    max-width: 340px;
}

/* Chefs section */
.chefs-title {
    margin-bottom: 80px;
}
.chef-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}

/* Formats section */
.formats-title {
    margin-bottom: 80px;
}
.formats-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.formats-item {
    flex-basis: calc((100% - 40px) / 3);
}
.formats-card {
    padding: 24px;
    border: 1px solid var(--color-primary-dark);
    border-radius: 16px;
}
.format-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
}
.format-text {
    font-size: 14px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

/* Contact section */
.contact-title {
    margin-bottom: 16px;
}

/* Footer */
.address-link {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-primary-light);
    transition: all 0.3s;
    text-decoration: none;
}
.address-link:hover {
    color: var(--color-brand-light);
}
.address-copyright {
    font-size: 14px;
}
