* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 20px;
    border: 1px solid black;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    color: white;
}
.item.red {
    width: 150px;
    height: 150px;
    background-color: red;
    transform: translate(-30px, 80px);
}
.item.green {
    width: 100px;
    height: 100px;
    background-color: green;
    /* transform: rotate(45deg); */
    /* transform: rotate(0.7turn); */
    /* animation-name: spin; */
    /* animation-duration: 2s; */
    /* animation-timing-function: ease-out; */
    /* animation-iteration-count: infinite; */
    animation: spin 2s ease-out infinite;
}
.item.green:hover {
    animation-play-state: paused;
}
@keyframes spin {
    0% {
        transform: rotate(0);
        background-color: green;
    }
    25% {
        transform: rotate(120deg);
        background-color: rgb(0, 28, 128);
    }
    75% {
        transform: rotate(60deg);
        background-color: rgb(128, 0, 115);
    }
    100% {
        transform: rotate(360deg);
        background-color: green;
    }
}
.item.blue {
    width: 50px;
    height: 50px;
    background-color: blue;
    transform: scale(1.7);
}
.item.orange {
    width: 150px;
    height: 150px;
    background-color: orange;
    transform: skew(-15deg, -15deg);
}

/* .flex-container {
    background-color: #ae2f00;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.item {
    border: 4px solid #264653;
    background-color: #f4a261;
    flex-basis: 100px;
    height: 100px;
    padding: 15px;
    color: white;
    font-weight: 600;
} */
