* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    background-color: #ae2f00;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.item {
    border: 4px solid #264653;
    background-color: #f4a261;
    flex-basis: 100px;
    height: 100px;
    padding: 15px;
    color: white;
    font-weight: 600;
}
