*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
ul {
    list-style-type: none;
}
a {
    display: inline-block;
}
address {
    font-style: normal;
}
.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

.section {
    padding: 48px 0;
}
.accent {
    color: var(--color-brand-normal);
}
.uppercase {
    text-transform: uppercase;
}
.section-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}
.section-title.centered {
    text-align: center;
}