*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
ul {
    list-style-type: none;
}
a {
    display: inline-block;
}
address {
    font-style: normal;
}


