@import "./utils/fonts";
@import "./utils/variables";
@import "./base";
@import "./utils/utils";
@import "./utils/mixins";
@import "./components/buttons";
@import "./components/links";
@import "./components/header";
@import "./components/hero";

.circle {
    @include circle(100px, 100px, var(--color-primary-light));
}

/* Advantages section */
.advantages-section {
    padding: 16px 0;
    background-color: var(--color-brand-normal);
}
.advantages-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.advantages-item {
    color: var(--color-primary-light);
    font-size: 20px;
    font-weight: 300;
}
/* Traditions */
.traditions-section {
    padding-top: 96px;
}
.traditions-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.traditions-content {
    max-width: 710px;
}
.traditions-title {
    margin-bottom: 42px;
}
.traditions-text {
    margin-bottom: 42px;
}
.traditions-text:last-child {
    margin-bottom: 0;
}
.traditions-text span {
    font-weight: 600;
}
.traditions-text.limited {
    max-width: 340px;
}

/* Chefs section */
.chefs-title {
    position: relative;
    /* max-width: 538px; */
    margin: 0 auto 80px;
}
.chefs-title::before,
.chefs-title::after {
    content: '';
    display: block;
    width: 352px;
    border: 1px solid var(--color-brand-light);
    position: absolute;
    bottom: 24px;
}
.chefs-title::before {
    left: 0;
}
.chefs-title::after {
    right: 0;
}
.chefs-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 60px;
}
.chef-item {
    width: calc((100% - 30px) / 2);
}
.chef-card {
    display: flex;
    gap: 30px;
}
.chef-photo {
    border-radius: 4px 4px 4px 200px;
    box-shadow:
        -16px 16px 0 0 var(--color-primary-light),
        -16px 16px 0 2px var(--color-secondary-dark);
}
.chef-content {
    max-width: 50%;
}
.chef-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 16px;
}
.chef-text p:not(:last-child) {
    margin-bottom: 24px;
}
/* Formats section */
.formats-title {
    margin-bottom: 80px;
}
.formats-container {
    display: flex;
    align-items: center;
    gap: 32px;
}
.formats-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.formats-item {
    flex-basis: calc((100% - 40px) / 3);
}
.formats-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: 444px;
    padding: 24px;
    border-radius: 16px;
    // background: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261a 100%);
    transition: all 0.3s;
}
.formats-card::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    background: linear-gradient(
        180deg,
        rgba(49, 38, 26, 0) 55.21%,
        rgba(49, 38, 26, 0.71) 72.92%,
        #31261a 100%
    );
    z-index: 2;
}

.formats-card > * {
    position: relative;
    z-index: 3;
}
.formats-card:hover {
    transform: scale(1.05);
}
.format-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.format-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
    color: var(--color-primary-light);
}
.format-text {
    font-size: 14px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    color: var(--color-primary-light);
}
/* carousel start */
.carousel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--color-primary-dark);
    cursor: pointer;
    transition: 0.3s all;
}
.carousel-button:last-child {
    transform: rotate(180deg);
}
.carousel-button:hover {
    background-color: var(--color-primary-dark);
    fill: var(--color-primary-dark);
}
.carousel-button:hover .carousel-arrow {
    fill: var(--color-primary-light);
}
/* carousel end */

/* Contact section */
.contact-section {
    padding-bottom: 96px;
}
.contact-title {
    font-size: 60px;
    margin-bottom: 16px;
}
.contact-container {
    display: flex;
    gap: 32px;
}
.contact-map {
    border-radius: 16px;
    flex-shrink: 0;
}

/* Footer */
.footer {
    position: relative;
    padding: 32px 0;
    background: var(--color-primary-dark) url('../images/footer-bg.png') center / cover no-repeat;
}
.footer::before,
.footer::after {
    content: '';
    position: absolute;
    bottom: 0;
}
.footer::before {
    width: 180px;
    height: 120px;
    background: url('../images/decor_bread_small.png') no-repeat;
}
.footer::after {
    width: 378px;
    height: 187px;
    right: 50px;
    background: url('../images/decor_bread_large.png') no-repeat;
}
.footer-container {
    display: flex;
    gap: 20px;
}
.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}
.footer-logo,
.footer-menu {
    flex-grow: 1;
}
.address-list,
.address-info {
    flex-grow: 1;
}
.address-link {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-primary-light);
    transition: all 0.3s;
    text-decoration: none;
}
.address-icon {
    fill: var(--color-primary-light);
    width: 32px;
    height: 32px;
    transition: 0.3s all;
}
.address-icon:hover {
    fill: var(--color-brand-normal);
}
.address-link:hover {
    color: var(--color-brand-normal);
}
.address-copyright {
    font-size: 14px;
}

/* Modal */
.backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    padding: 128px;
    border-radius: 32px;
    background-color: var(--color-primary-light);
    text-align: center;
    overflow-y: auto;
}
.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
}
.modal-title {
    font-size: 64px;
    line-height: 1.3;
    font-weight: 900;
    color: var(--color-primary-dark);
    margin-bottom: 8px;
}
.modal-description {
    font-size: 18px;
    color: var(--color-brand-dark);
    margin-bottom: 72px;
}
/* Form */
.forms-inputs {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
}
.form-input {
    padding: 16px 42px;
    width: 100%;
    font-size: 16px;
    line-height: 1.17;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 8px;
    background-color: transparent;
    transition: all 0.3s;
}

.form-input:focus {
    outline: none;
    border-color: var(--color-brand-normal);
    background-color: #ffffff;
    box-shadow: 0 0 8px 4px #ffffff;
}
.form-input::placeholder {
    color: var(--color-secondary-dark);
}
.form-input:focus::placeholder {
    color: var(--color-primary-dark);
}
.form-button {
    margin-bottom: 24px;
}
.form-terms {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
}
.form-terms-link {
    color: var(--color-brand-dark);
    text-underline-offset: 2px;
}

/* Checkbox */
.checkbox {
}
.checkbox-input {
    appearance: none;
}
.checkbox-input:checked + .checkbox-label::before {
    background-color: var(--color-brand-normal);
    /* border-color: var(--color-brand-normal); */
}
.checkbox-label {
    position: relative;
}
.checkbox-label::before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    left: -26px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid var(--color-secondary-dark);
    border-radius: 4px;
}
