@import './utils/fonts';
@import './utils/variables';
@import './base';
@import './utils/texts';
@import './utils/utils';
@import './utils/mixins';

@import './components/buttons';
@import './components/input';
@import './components/links';
@import './components/carousel-button';
@import './components/chef-card';
@import './components/format-card';

@import './layouts/section';
@import './layouts/container';
@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/advantages-section';
@import './layouts/traditions-section';
@import './layouts/chefs-section';
@import './layouts/formats-section';
@import './layouts/contact-section';
@import './layouts/footer';
@import './layouts/mobile-menu';
@import './layouts/modal';
@import './layouts/form-term';
