.carousel-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 0;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--color-primary-dark);
    cursor: pointer;
    transition: 0.3s all;

    &:last-child {
        transform: rotate(180deg);
    }
    &:hover {
        background-color: var(--color-primary-dark);
        fill: var(--color-primary-dark);
    }
    &:hover .carousel-arrow {
        fill: var(--color-primary-light);
    }
}
