.format-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: 444px;
    padding: 24px;
    border-radius: 16px;
    // background: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261a 100%);
    transition: all 0.3s;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: 16px;
        background: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261a 100%);
        z-index: 2;
    }

    & > * {
        position: relative;
        z-index: 3;
    }
    &:hover {
        transform: scale(1.05);
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 16px;
    }
    &__title {
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 16px;
        color: var(--color-primary-light);
    }
    &__text {
        font-size: 14px;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        color: var(--color-primary-light);
    }
}
