.advantages-section {
    padding: 40px 10px 0;
    background-color: var(--color-primary-light);

    @media screen and (min-width: $bp-tablet) {
        padding: 20px;
        background-color: var(--color-brand-normal);
    }

    &__list {
        padding: 24px 40px;
        background-color: var(--color-brand-light);
        border-radius: 24px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        @media screen and (min-width: $bp-tablet) {
            padding: 0;
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            gap: 40px;
            background: none;
        }
        @media screen and (min-width: $bp-desktop) {
            justify-content: space-between;
        }
    }
    &__item {
        color: var(--color-primary-dark);
        font-size: 14px;
        font-weight: 300;

        @media screen and (min-width: $bp-tablet) {
            font-size: 14px;
            color: var(--color-primary-light);
        }
        @media screen and (min-width: $bp-desktop) {
            color: var(--color-primary-light);
            font-size: 20px;
            font-weight: 300;
        }
    }
}
