.chefs-section {
    &__title {
        position: relative;
        margin: 0 auto 80px;

        &::before,
        &::after {
            content: '';
            position: absolute;
            bottom: 24px;
            width: 352px;
            border: 1px solid var(--color-brand-light);
        }
        &::before {
            left: 0;
        }
        &::after {
            right: 0;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 60px;
    }
    &__item {
        width: calc((100% - 30px) / 2);
    }
}
