.contact-section {
    padding-bottom: 96px;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 24px;
        overflow: hidden;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            gap: 32px;
        }
    }
    &__title {
        font-size: 60px;
        margin-bottom: 16px;
    }
    &__info {
        margin-bottom: 24px;
    }
    &__form {
        &-inputs {
            display: flex;
            flex-direction: column;
            row-gap: 24px;
            margin-bottom: 24px;
        }
        &-button {
            display: block;
            margin: 0 auto 24px;
        }
    }
    &__map {
        margin: 0 -24px;
        height: 176px;
        border: none;
        border-radius: 16px;
        flex-shrink: 0;

        @media screen and (min-width: $bp-tablet) {
            margin: auto;
            width: 320px;
            height: 500px;
        }
        @media screen and (min-width: $bp-desktop) {
            width: 600px;
            height: 595px;
        }
    }
}
