.footer {
    position: relative;
    padding: 32px 0;
    background: var(--color-primary-dark) url('../images/footer-bg.png') center / cover no-repeat;

    &::before,
    &::after {
        content: '';
        position: absolute;
        bottom: 0;
    }
    &::before {
        width: 180px;
        height: 120px;
        background: url('../images/decor_bread_small.png') no-repeat;
    }
    &::after {
        width: 378px;
        height: 187px;
        right: 50px;
        background: url('../images/decor_bread_large.png') no-repeat;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
        }
    }
    &__nav,
    &__address {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            flex-basis: 50%;
            text-align: left;
        }
    }
    &__logo,
    &__menu {
        flex-grow: 1;
    }
    &__address {
        &-list,
        &-info {
            flex-grow: 1;
        }
        &-link {
            font-size: 16px;
            font-weight: 300;
            color: var(--color-primary-light);
            transition: all 0.3s;
            text-decoration: none;
        }
        &-contacts {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
        }
        &-socials {
            display: flex;
            justify-content: center;
            column-gap: 22px;

            @media screen and (min-width: $bp-tablet) {
                justify-content: flex-start;
            }
        }
        &-icon {
            fill: var(--color-primary-light);
            width: 32px;
            height: 32px;
            transition: 0.3s all;
        }
        &-icon:hover {
            fill: var(--color-brand-normal);
        }
        &-link:hover {
            color: var(--color-brand-normal);
        }
        &-copyright {
            font-size: 14px;
        }
    }
}
