.footer {
    position: relative;
    padding: 32px 0;
    background: var(--color-primary-dark) url('../images/footer-bg.png') center / cover no-repeat;
}
.footer::before,
.footer::after {
    content: '';
    position: absolute;
    bottom: 0;
}
.footer::before {
    width: 180px;
    height: 120px;
    background: url('../images/decor_bread_small.png') no-repeat;
}
.footer::after {
    width: 378px;
    height: 187px;
    right: 50px;
    background: url('../images/decor_bread_large.png') no-repeat;
}
.footer-container {
    display: flex;
    gap: 20px;
}
.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}
.footer-logo,
.footer-menu {
    flex-grow: 1;
}
.address-list,
.address-info {
    flex-grow: 1;
}
.address-link {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-primary-light);
    transition: all 0.3s;
    text-decoration: none;
}
.address-icon {
    fill: var(--color-primary-light);
    width: 32px;
    height: 32px;
    transition: 0.3s all;
}
.address-icon:hover {
    fill: var(--color-brand-normal);
}
.address-link:hover {
    color: var(--color-brand-normal);
}
.address-copyright {
    font-size: 14px;
}
