.form-terms {
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    &__link {
        color: var(--color-brand-dark);
        text-underline-offset: 2px;
    }
}
