.traditions-section {
    padding-top: 40px;

    @media screen and (min-width: $bp-tablet) {
        padding-top: 96px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }
    &__content {
        max-width: 710px;
    }
    &__title {
        margin-bottom: 24px;
        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 42px;
        }
    }
    &__text {
        margin-bottom: 16px;
        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 42px;
        }
        &--limited {
            max-width: 340px;
        }
    }
    &__text:last-child {
        margin-bottom: 0;
    }

    &__image {
        display: none;
        object-fit: cover;
        border-radius: 400px 400px 0 0;

        @media screen and (min-width: $bp-tablet) {
            display: block;
        }
    }
}
